body {
    padding: 10px;
    background-color: rgb(251, 237, 212);
}

#camposJogo{
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 700px;
    border: 1px solid rgb(146, 146, 146);   
}

#chutar {
    margin-top: 20px;
    width: 100px;
}

#nome_jogador {
    width: 340px;
}

#numero {
    width: 30%;    
    text-align: center;
    
}

#chute {
    width: 340px;
}

.centralizar{
    margin: 0 auto;
    text-align: center;
}

.nomeJogador{
    width: 40%;
    text-align: center;
}
#nrEscolhido{
    font-size: 20px;
    font-weight: bold;
    
}

#chute{
    width: 100px;
}

h4{
    margin-bottom: 10px;
}

input{
    margin-bottom: 10px;
}

#dadosJogo{
    border-radius: 10px 10px 0 0  ;
    padding: 10px;
}

#Jogando{
    padding: 10px;
    
}

.alinhado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#andamentoJogo{
    margin-top: 10px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.sombras{
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgb(121, 120, 120);
}

li{
    font-weight: bold;
    font-size: 20px;
}

.acertou{
    color: rgb(58, 58, 251);
    font-weight: bold;
    
}

#jogadorDaVez{
    font-weight: bold;
    font-size: 18px;
    /* coloquei uma altura SÓ para evitar um efeito de descida quando esse elemnto aparece */
    height: 20px;
}


button{
    box-shadow: 5px 5px 5px rgba(24, 24, 100, 0.493);
}

#robo{
    margin-top: 10px;
}

#btJogarNovamente{
    margin-bottom: 20px;
}